

@using System.Web.Optimization;

<!DOCTYPE html>
<html lang="en">
<head>
    <title>DentaCare </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">


    

    @Styles.Render("~/bundles/open-iconic-bootstrap/css")
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/owl.carousel/css")
    @Styles.Render("~/bundles/owl.theme.default/css")
    @Styles.Render("~/bundles/magnific-popup/css")
    @Styles.Render("~/bundles/aos/css")
    @Styles.Render("~/bundles/ionicons/css")
    @Styles.Render("~/bundles/bootstrap-datepicker/css")
    @Styles.Render("~/bundles/jquery.timepicker/css")
    @Styles.Render("~/bundles/flaticon/css")
    @Styles.Render("~/bundles/icomoon/css")
    @Styles.Render("~/bundles/style/css")

</head>
  <body>


@Html.Partial("_Header")

@RenderBody()

@Html.Partial("_Footer")


<!-- JS here -->
@Scripts.Render("~/bundles/jquery/js")
<!-- Jquery, Popper, Bootstrap -->
@Scripts.Render("~/bundles/jquery-migrate-3.0.1/js")
@Scripts.Render("~/bundles/popper/js")
@Scripts.Render("~/bundles/bootstrap/js")
<!-- Jquery Mobile Menu -->
@Scripts.Render("~/bundles/jquery.easing.1.3/js")
<!-- Jquery Slick , Owl-Carousel Plugins -->
@Scripts.Render("~/bundles/jquery.waypoints/js")

@Scripts.Render("~/bundles/jquery.stellar/js")

<!-- One Page, Animated-HeadLin -->
@Scripts.Render("~/bundles/owl.carousel/js")
@Scripts.Render("~/bundles/aos/js")
@Scripts.Render("~/bundles/jquery.magnific-popup/js")
<!-- Date Picker -->
@Scripts.Render("~/bundles/jquery.animateNumber/js")
<!-- Nice-select, sticky -->
@Scripts.Render("~/bundles/bootstrap-datepicker/js")
@Scripts.Render("~/bundles/jquery.timepicker/js")
<!-- counter , waypoint,Hover Direction -->
@Scripts.Render("~/bundles/scrollax/js")


@Scripts.Render("~/bundles/main/js")






  </body>
</html>
